'.platform-darwin atom-text-editor':
  'cmd-shift-s': 'atom-postcss-sorting:run'

'.platform-win32 atom-text-editor':
  'ctrl-shift-s': 'atom-postcss-sorting:run'

'.platform-linux atom-text-editor':
  'ctrl-shift-s': 'atom-postcss-sorting:run'
